

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .logo{
        width: 100px;
        height: 100px;
        &:hover{
            filter: drop-shadow(0 0 2em #3178c6aa);
        }
    }
    .intro{
        font-size: 18px;
        color: #ccc;
    }
}